@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

.page_404 {
  padding-bottom: 40px;
  padding-inline: 20px;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
}

.code_404 {
  font-size: 70px;
  margin-bottom: -60px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  border-radius: 0.5rem;
}
.contant_box_404 {
  margin-top: -50px;
  padding-inline: 20px;
}

@media screen and (min-width: 769px) {
  #navbar {
    display: flex !important;
    justify-content: space-evenly !important;
  }

  .navbar-desktop {
    position: absolute !important;
    right: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  nav .logo {
    position: absolute !important;
    left: 20% !important;
    right: 20% !important;
    margin-top: -15px;
  }

  .logo-container {
    text-align: center !important;
  }
}
