{% extends 'base.html.twig' %}

{% block title %}Hello PostApplicationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/mukoko/Desktop/formationsimplonNovembre2021/05Mars-symfony/projet-backend/we-are-hiring/backend/api_hiring/src/Controller/PostApplicationController.php'|file_link(0) }}">src/Controller/PostApplicationController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/mukoko/Desktop/formationsimplonNovembre2021/05Mars-symfony/projet-backend/we-are-hiring/backend/api_hiring/templates/post_application/index.html.twig'|file_link(0) }}">templates/post_application/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
